<form action="/sign_up" method="POST">

  username: <input type="text" name="user_name">
  password: <input type="password" name="password">
  confirm: <input type="password" name="password_confirmation">

  <input type="submit">

</form>
